*{
    margin: 0px;
}
body{
    background-color: hsl(212, 45%, 89%);
}
main{
    padding: 15px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width:300px ;
    height: outo;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

section{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Outfit;
    font-size: 20px;

    
}

img{
    width: 100%;
    height: auto;
    border-radius: 12px;   
    margin-bottom: 20px; 
}
section p{
    font-size: 17px;
}
h3{
    margin-bottom: 20px;
}



